<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        	  <li><a href="/about">About</a></li>
        		  <li><a href="/resume">Resume</a></li>
			        <li><a href="/academics">Academics</a></li>
        		  <li><a href="/project">Project</a></li>
        		  <li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<img src="/img/home.jpg" alt="Home Picture" width="1200" height="400" style=" width: 90%;">
			<div class="level 1 container">    
			{{ content }}
			</div><!-- /.level 1 container -->
			<div class="bottom">  
			<footer>
	    		<ul>
				<!-- a list of icon link to other resources -->
	        		<li>
					<a href="mailto: bwu117@g.syr.edu"><img src="../img/icon_email.svg" width="20px" align="top" title="Email"></a>
				</li>
        		  	<li>
					<a href="https://www.linkedin.com/in/bing-je-wu"><img src="../img/icon_linkedin.png" width="20px" align="top" title="Linkedin"></a>
				</li>
				<li>
					<a href="https://github.com/bing020815"><img src="../img/icon_GitHub.png" width="20px" align="top" title="GitHub"></a>
				</li>
				</ul>
			</footer>
			</div><!-- /.bottom -->
		</body>
	</html>

