<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        	  <li><a href="/about">About</a></li>
        		  <li><a href="/resume">Resume</a></li>
			        <li><a href="/academics">Academics</a></li>
        		  <li><a href="/project">Project</a></li>
        		  <li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			    <img src="/img/home.jpg" alt="Home Picture" width="1200" height="400">
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bwu117@g.syr.edu">email</a></li>
        		  <li><a href="https://github.com/bing020815">github.com/bing020815</a></li>
				</ul>
			</footer>
		</body>
	</html>
